.pass{
  border:4px solid;
  border-radius:25px;
  background-color:C9C9C9;
  border-color:green;
}
.fail{
  border:4px solid;
  border-radius:25px;
  background-color:C9C9C9;
  border-color:red;
  padding-left: 20px;
  width: 70%;
  margin: 0 auto; 
}

body{
  font-family: Comic Sans MS, Monospace;
}
